{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app">
        <App/>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        const APP_CONFIG = {
            pageTitle: '{{ pageTitle }}',
            docList: {{ docList|json_encode|raw }},
            homepagePath: '{{ path('app_homepage') }}',
            logoutPath: '{{ path('app_logout') }}',
            userEmail: '{{ app.user.email }}'
        };
    </script>

    {{ encore_entry_script_tags('app') }}
{% endblock %}
